{% extends "base.html" %}
{% load static %}

{% block title %}404 - Page Not Found | AgroNepal{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/pages/404.css' %}" />

<div class="error-container">
    <div class="error-code">404</div>
    
    <div class="error-title">Oops! Your page is Not Found.</div>
    
    <p class="error-message">
        It seems the page you are looking for has been never planted or cut by AgroNepal. 
    </p>
</div>
{% endblock content %}
