{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Admin Dashboard{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/image/Logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      ::selection {
      background-color: green;
      color: white;
      }
    </style>

    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/adminDashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/dashboard.css' %}" />

    <!-- Includes files css -->
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/includes/admin_header.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/includes/admin_sidebar.css' %}" />

    <!----------Dashboard user------------>
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/user/user.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/user/add_edit_user.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/user/edit_user.css' %}" />
    
    <!----------Dashboard crop------------>
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/crop/crop.css' %}" />

    <!-----------Contact------------>
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/contact/contacts.css' %}" />

    <!-----------Evemt------------>
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard/dashboard/event/events.css' %}" />

  </head>
  <body>
    {% include "adminDashboard/includes/header.html" %}
    <div class="admin-main-container">
      {% include "adminDashboard/includes/sidebar.html" %}
      <div class="admin-content-area">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
   <!-------Includes Js part --------------->
  <script src="{% static 'assets/js/adminDashboard/include/admin_header.js' %}"></script>
  <script src="{% static 'assets/js/adminDashboard/dashboard/crop/crop.js' %}"></script>
  <script src="{% static 'assets/js/adminDashboard/dashboard/contacts/contacts.js' %}"></script>
</html>