{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}AgroNepal{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}" />
  </head>
  <body>
    {% include "includes/header.html" %}

    <main>{% block content %}
      {% endblock content %}</main>

    <!-- Footer -->
    {% include "includes/footer.html" %}
  </body>
</html>
