{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}User Dashboard{% endblock title %}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      ::selection {
      background-color: green;
      color: white;
      }
    </style>

    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/userDashboard.css' %}" />

    <!-- Includes files css -->
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/includes/header.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/includes/sidebar.css' %}" />

    <!----Dashboard css--------->
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Dashboard/plantedCrop.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Dashboard/explenseAndSale.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Dashboard/community_post.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Dashboard/dashboard.css' %}" />

    <!-------------Profile css------->
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Profile/profile.css' %}">   
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Profile/edit_profile.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Profile/change_password.css' %}"> 

    <!----------------Ticket  Css--------------->
    <link rel="stylesheet" href="{% static 'assets/css/userDashboard/Dashboard/user_ticket.css' %}">
  </head>
  <body>
    {% include "userDashboard/includes/header.html" %}
    <div class="main-container">
      {% include "userDashboard/includes/sidebar.html" %}
      <div class="content-area">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
  <!-------Includes Js part --------------->
  <script src="{% static 'assets/js/userDashboard/includes/profileButton.js' %}"></script>
  <script src="{% static 'assets/js/userDashboard/includes/sidebar.js' %}"></script>

  <!---Dashboard Part JS------->
  <script src="{% static 'assets/js/userDashboard/plantedCrop.js' %}"></script>
  <script src="{% static 'assets/js/userDashboard/expenseAndSale.js' %}"></script>
  <script src="{% static 'assets/js/userDashboard/community_post.js' %}"></script>

  <!--------Profile Part Js------->
  <script src="{% static 'assets/js/userDashboard/Profile/profile.js' %}"></script>
  <script src="{% static 'assets/js//userDashboard/Profile/edit_profile.js' %}"></script>
</html>