{% load static %}
<div class="about-us">
  <h1>About Us</h1>
  <div class="aboutContent">
    <div class="image-text-pair">
      <div class="image-container">
        <img src="{% static 'assets/image/aboutFirst.jpg' %}" alt="About Us First Image" class="about-image" />
      </div> 
      <p class="about-text">
        AgroNepal is a modern digital platform whos aim is to help farmers to manage their agricultural activites more esaily and effectively.
        It allows user to plan and track their crops from planting to harvesting and receive daily care reminders and record every expenses related to farming. 
        Farmers can also track multiple selling details according to their crop planted and view how much they spend and how much they earn from that particular crop which 
        help farmers to make better financial decision.
      </p>
    </div>
    <div class="image-text-pair">
      <p class="about-text">
        Not only crop management, AgroNepal provides a platform for every farmers to connect, share experiences and learn from eachother through a blog section of the website. 
        The platform also offers a platform to access to agricultural events where user can explore oppotunities and buy tickets directly from the website.
        AgroNepal aims to cobine technology with triditional farming practies to build a smarter, more connected agricultural community in Nepal.
      </p>
      <div class="image-container">
        <img src="{% static 'assets/image/AboutSecondImage.jpg' %}" alt="About Us Second Image" class="about-image" />
      </div>
    </div>
  </div>
</div>
