{% load static %}
<div class="what-we-provide">
  <h1>What we Provide different from other?</h1>
  <div class="features-grid">
    <div class="feature-card">
      <i class="fas fa-user-friends"></i>
      <div class="feature-title">User-Friendly Designed </div>
      <div class="feature-text">
        Designed for everyone. Our platform can be used by from new farmers to experts with an easy and clean interface for smooth navigation.
      </div>
    </div>
    <div class="feature-card">
      <i class="fas fa-bell"></i>
      <div class="feature-title">Smart Crop Notification</div>
      <div class="feature-text">
        User will get timely reminders based on your planted crops like when to water, fertilizer or harvest. 
      </div>
    </div>
    <div class="feature-card">
      <i class="fas fa-chart-line"></i>
      <div class="feature-title">Crop Expense Tracking</div>
      <div class="feature-text">
       By entering crop and your planted data they you can record all you crop-related expenses and see all the expense to make better decision. 
      </div>
    </div>
    <div class="feature-card">
      <i class="fas fa-share-alt"></i>
      <div class="feature-title">Knowledge Sharing Community</div>
      <div class="feature-text">
        Farmers can connect with other farmers, share experiences and learn new thing for other farmers through our blog section. 
      </div>
    </div>
  </div>
</div>
