{% load static %}
<div class="why-choose-us" id="why-choose-us-section">
  <h1 class="why-choose-us-title">Why Choose Us?</h1>
  <div class="about-content">
    <div class="hero-image-container">
      <img
        src="{% static 'assets/image/WhyToChooseUs.jpg' %}"
        alt="Man with Local Tools"
        class="hero-image"
      />
    </div>
    <div class="stats">
      <div class="stat-card">
        <p class="number">1000+</p>
        <p class="text">Farmers all over Nepal trust us.</p>
      </div>
      <div class="stat-card">
        <div class="number">600+</div>
        <div class="text">
          Agriculture work with us and connect with different farmers from all
          over Nepal
        </div>
      </div>
      <div class="stat-card">
        <div class="number">800+</div>
        <div class="text">
          Farmers share their knowledge and experience in our platform
        </div>
      </div>
      <div class="stat-card">
        <div class="number">4.9/5</div>
        <div class="text">Loved by the farmers</div>
      </div>
    </div>
  </div>
</div>
