{% load static %}
<div class="why-choose-us" id="why-choose-us-section">
  <h1 class="why-choose-us-title">Why Choose Us?</h1>
  <div class="about-content">
    <div class="hero-image-container">
      <img
        src="{% static 'assets/image/WhyToChooseUs.jpg' %}"
        alt="Man with Local Tools"
        class="hero-image"
      />
    </div>
    <div class="stats">
      <div class="stat-card">
        <p class="text">Aim to make</p>
        <p class="number">1000+ </p>
        <p class="text">Farmer</p>
      </div>
      <div class="stat-card">
         <p class="text">We are aiming to add</p>
        <div class="number">1500+</div>
        <p class="text">
          Crop in our platfrom. We want to make sure all types of crop that is good for nepal we try to add that crop.
        </p>
      </div>
      <div class="stat-card">
        <p class="text">We are aiming to get</p>
        <div class="number">800+</div>
        <p class="text">
          Daily post from Farmer. 
        </p>
      </div>
      <div class="stat-card">
        <p class="text">We are aiming to get</p>
        <div class="number">4.9/5</div>
        <p class="text">From farmers</p>
      </div>
    </div>
  </div>
</div>
