{% load static %}
<section class="services">
  <h2>Our Services</h2>
  <p>We provide a digital platform where farmers from all over the Nepal can share experiences, exchanges ideas and build a agricultual community.</p>

  <div class="service-container">
    <div class="service-card">
      <img src="{% static 'assets/image/IndexBlog.jpg' %}" alt="Blog">
      <h3>Blog</h3>
      <p>Our platform helps farmers to share their knowledge, idea and real stories of there success and failure and where other farmers can learn their story. We together build a helping and growing community.</p>
      <a href="" class="btn">See Blogs</a>
    </div>
    <div class="service-card">
      <img src="{% static 'assets/image/TicketBuyIndex.jpg' %}" alt="Ticket Buy">
      <h3>Ticket Buy</h3>
      <p>Our platform allows farmers to buy tickets easily and stay updated with the latest event conduct all over the Nepal.</p>
      <a href="" class="btn">Buy Now</a>
    </div>
    <div class="service-card">
      <img src="{% static 'assets/image/UserDashboardIndex.jpg' %}" alt="User Dashboard">
      <h3>User Dashboard</h3>
      <p>Users get a personal dashboard to manage blogs, and track their crops experiences.</p>
      <a href="#" class="btn">Go to Dashboard</a>
    </div>
  </div>
</section>