{% load static %}
<div class="feedback-container">
  <h1 class="feedback-title">What Other Farmers say About Us?</h1>
  <div class="feedback-cards">
    <div class="feedback-card">
      <h2 class="quote">"</h2>
      <p class="feedback-message">
        I am a Farmer from Pokhara, Nepal. I have made so many new friends from AgroNepal, which has helped me to learn from other farmers.
      </p>
      <h2 class="quote">"</h2>
      <div class="feedback-author">
        <p><strong>Name: </strong>Ranadip Shrestha</p>
        <p><strong>From: </strong>Pokhara</p>
      </div>
    </div>

    <div class="feedback-card">
      <h2 class="quote">"</h2>
      <p class="feedback-message">
        I am a Farmer from Kathmandu, Nepal. After Using this website it solve so many problems of my like crops expense.
        I learn from other story. Thank you Agro Nepal.
      </p>
      <h2 class="quote">"</h2>
      <div class="feedback-author">
        <p><strong>Name: </strong>Bibash Waiba</p>
        <p><strong>From: </strong>Kathmandu</p>
      </div>
    </div>

    <div class="feedback-card">
      <h2 class="quote">"</h2>
      <p class="feedback-message">
       I love this website. Some time I forgot to give food or anything to mu plants the system remind me which help me a lot. Thank Your Agro Nepal.
      </p>
      <h2 class="quote">"</h2>
      <div class="feedback-author">
        <p><strong>Name: </strong>Karan Lama Gurung</p>
        <p><strong>From: </strong>Dharan</p>
      </div>
    </div>
  </div>
</div>