{% load static %}
<div class="whoWeAre-container">
  <div class="aboutTitle">
    <h1>Who We are?</h1>
    <h2>Why to Choose Us?</h2>
  </div>
  
  <div class="card">
    <img src="{% static 'assets/image/HeroImage.jpg' %}" alt="Tree Image" />
    <div class="overlay">
      <div class="text">Who We Are?</div>
      <p class="description">We are one of the best agricultural website </p>
    </div>
    <a href="#" class="btn">Read More</a>
  </div>

  <div class="card">
    <img src="{% static 'assets/image/HeroImage.jpg' %}" alt="Farming Image" />
    <div class="overlay">
      <div class="text">Why Choose Us?</div>
      <p class="description">We are one of the best agricultural website </p>
    </div>
    <a href="#" class="btn">Read More</a>
  </div>
</div>