{% load static %}

<div class="whoWeAre-container">
  <div class="whoWeAre-aboutTitle">
    <h1>Who We Are?</h1>
    <h2>Why Choose Us?</h2>
  </div>

  <!-- Card 1 -->
  <div class="whoWeAre-card">
    <img src="{% static 'assets/image/HeroImage.jpg' %}" alt="Tree Image" />
    
    <div class="whoWeAre-overlay">
      <div class="whoWeAre-overlay-content">
        <h1 class="whoWeAre-text">Who We Are?</h1>
        <p class="whoWeAre-description">
          We are one of the best agricultural websites helping farmers grow smarter.
        </p>
      </div>
    </div>

    <a href="#" class="whoWeAre-btn">Read More</a>
  </div>

  <!-- Card 2 -->
  <div class="whoWeAre-card">
    <img src="{% static 'assets/image/HeroImage.jpg' %}" alt="Farming Image" />
    
    <div class="whoWeAre-overlay">
      <div class="whoWeAre-overlay-content">
        <h1 class="whoWeAre-text">Why Choose Us?</h1>
        <p class="whoWeAre-description">
          We provide trusted insights, modern tools, and expert farming solutions.
        </p>
      </div>
    </div>

    <a href="#" class="whoWeAre-btn">Read More</a>
  </div>
</div>
