{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="events-section">
  <div class="container">
    <h1 class="section-title">Upcoming Events</h1>
    <p class="section-subtitle">Discover agriculture-focused events happening around Nepal.</p> 

    <div class="event-grid">
      <div class="event-card">
        <img src="{% static 'assets/image/IndexBlog.jpg' %}" alt="" class="event-img">
        <div class="event-body">
          <h2 class="evnet-title">Event In Pokhara</h2>
          <p class="event-details">
            <span>Event Date : 2025-11-05</span>
            <span>Special Guest : Ranadip Shrestha</span>
          </p>
          <p class="event-details-extra">
            <span>Location : Pokhara</span>
            <span>Event Time : 2025-11-20</span>
            <span>Event Duration : 1 Hours</span>
          </p>
          <p class="event-description">
            This is The discription.
          </p>

          <div class="event-footer">
            <span class="event-price">Rs : 10000</span>
            <button class="btn-buy">Buy Now</button>
          </div>
        </div>
      </div>
    
        <div class="event-card">
        <img src="{% static 'assets/image/IndexBlog.jpg' %}" alt="" class="event-img">
        <div class="event-body">
          <h2 class="evnet-title">Event In Pokhara</h2>
          <p class="event-details">
            <span>Event Date : 2025-11-05</span>
            <span>Special Guest : Ranadip Shrestha</span>
          </p>
          <p class="event-details-extra">
            <span>Location : Pokhara</span>
            <span>Event Time : 2025-11-20</span>
            <span>Event Duration : 1 Hours</span>
          </p>
          <p class="event-description">
            This is The discription.
          </p>

          <div class="event-footer">
            <span class="event-price">Rs : 10000</span>
            <button class="btn-buy">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}