{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="events-section">
  <div class="container">
    <h1 class="section-title">Upcoming Events</h1>
    <p class="section-subtitle">Discover agriculture-focused events happening around Nepal.</p> 
    <div class="event-grid">
      {% for event in events %} 
      <div class="event-card">
        <img src="{{ event.image.url }}" alt="{{event.name}}" class="event-img">
        <div class="event-body">
          <h2 class="event-title">Event Name : {{event.name}}</h2>
          <p class="event-details">
            <span>Event Date : {{event.date}}</span>
            <span>Special Guest : {{event.guest}}</span>
          </p>
          <p class="event-details">
            <span>Location : {{event.location}}</span>
          </p>
          <p class="event-details">
            <span>Event Start Time : {{event.eventStartTime}}</span>
            <span>Event Duration : {{ event.event_duration }}</span> 
          </p>
          <p  class="event-details">
            <span style="font-weight:600; color: #2a774bff;">Total Ticket : {{event.total_ticket}}</span>
            <span style="font-weight:600; color: #2a774bff;">Available Ticket : {{event.available_ticket}}</span></p>
          <p class="event-description">
            {{event.description|truncatewords:35}}
          </p>
          <div class="event-footer">
            <span class="event-price">Rs : {{event.price}}</span>
            <a href='{% url "buy_ticket" event.slug %}' class="btn-buy">Readmore / Buy Now</a>
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
  </div>
</div>
{% endblock content %}