{% load static %}
<header class="userdashboard-header">
  <div class="left-header">
    <button class="menu-toggle"><i class="fa-solid fa-bars"></i></button>
      <h3>{{ user.first_name }}</h3>
  </div>

  <p class="wellcome-message">Welcome to AgroNepal</p>

  <div class="user-info">
    <button class="notification-btn"><i class="fa-solid fa-bell"></i></button>

    <!-- Profile dropdown -->
    <div class="profile-container">
      {% if user.is_authenticated %}
        <button class="profile-btn" id="profile-btn">
          {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
        </button>

        <!-- Hidden by default -->
        <div class="dropdown-menu" id="dropdown-menu">
          <a href=''>
            <i class="fa-solid fa-user"></i> Your Profile
          </a>
          <a href=''>
            <i class="fa-solid fa-right-from-bracket"></i> Logout
          </a>
        </div>
      {% else %}
        <a href='{% url "login" %}' class="login-btn">Login</a>
      {% endif %}
    </div>
  </div>
</header>