{% load static %}
<div class="sidebar-container">
  <aside class="userDashboardSidebar">
    <ul>
      <li><a href='{% url "userdashboard" %}' class="{% if request.resolver_match.url_name == 'userdashboard' %}active{% endif %}"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
      <li><a href='{% url "crop" %}' class="{% if request.resolver_match.url_name == 'crop' %}active{% endif %}"><i class="fa-solid fa-seedling"></i> Crop</a></li>
      <li><a href='{% url "cropExpense" %}' class="{% if request.resolver_match.url_name == 'cropExpense' %}active{% endif %}"><i class="fa-solid fa-money-bill-wave"></i> Expense</a></li>
      <li><a href='{% url "cropSales" %}' class="{% if request.resolver_match.url_name == 'cropSales' %}active{% endif %}"><i class="fa-solid fa-money-bill-wave"></i> Sales</a></li>
      <li><a href='{% url "userShareKnowledge" %}' class="{% if request.resolver_match.url_name == 'userShareKnowledge' %}active{% endif %}"><i class="fa-solid fa-lightbulb"></i> Community Post </a></li>
      <li><a href='{% url "userTickets" %}' class="{% if request.resolver_match.url_name == 'userTickets' %}active{% endif %}"><i class="fa-solid fa-ticket"></i> Ticket </a></li>
    </ul>
    <div class="sidebar-bottom">
      <a href="{% url 'index' %}" class="sidebar-back-btn">
       Back to Home
      </a>
    </div>
    
  </aside>
</div>
