{% load static %}
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section brand">
      <h2>AgroNepal</h2>
      <p>Connecting farmers with the latest agricultural news and innovations for a better future.</P>
    </div>
    <div class="social-icons">
      <h3>Follow Us</h3>
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
    </div>

    <div class="footer-section links" >
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a href="#">About</a>
          <a href="#">Blog</a>
          <a href="#">Contact Us</a>
          <a href="#">About Us</a>
        </li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h3>Contact</h3>
      <p><strong>Call:</strong><br> +9779800000000</p>
      <p><strong>Email:</strong><br> agroNepal@gmail.com</p>
      <p><strong>Location:</strong><br> Pokhara, Nepal</p>
    </div>

    <div class="footer-section map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3378.416543880576!2d83.99786597531968!3d28.21489047589542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39959434ad2a5bf9%3A0xf4e7f9c749f63113!2sInformatics%20College%20Pokhara!5e1!3m2!1sen!2snp!4v1759557931494!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
  <div class="footer-bottom">
    <p>© All right reserve agroNepal</p>
  </div>
</footer>